@font-face {
  font-family: "Allura";
  src: url(../Font/Allura/Allura-Regular.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(../Font/Roboto/static/Roboto-Light.ttf);
}
@font-face {
  font-family: "Poppins";
  src: url(../Font/Poppins-Medium/poppins/Poppins-Medium.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(39, 38, 38);
}
body li {
  list-style: none;
}
body h3 {
  font-family: "Allura", sans-serif;
  color: rgb(172, 113, 37);
  font-size: 2.5rem;
  font-weight: lighter;
}
body h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: rgb(240, 240, 240);
  font-size: 1.5rem;
  letter-spacing: 1px;
}
body p {
  font-family: "Roboto", sans-serif;
  color: rgb(240, 240, 240);
}

nav {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  width: 80%;
  margin: 0 auto;
  padding-top: 20px;
  align-items: center;
  color: rgb(240, 240, 240);
}
nav h2 {
  font-family: "Allura", sans-serif;
  font-size: 3rem;
  color: rgb(240, 240, 240);
}
nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}
nav ul li {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: lighter;
}
nav ul li:hover {
  color: rgb(172, 113, 37);
  scale: 1.2;
  transition: 0.6s;
}
nav .nav-icones i {
  color: rgb(240, 240, 240);
  font-size: 0.8rem;
}
nav .nav-icones i:hover {
  color: rgb(172, 113, 37);
  scale: 1.2;
  transition: 0.6s;
}

header {
  background: url(./Style/components/Img/bg-slider-06.jpg);
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}
header .header-content {
  height: 88vh;
  color: rgb(240, 240, 240);
  text-align: center;
  margin-top: 10%;
}
header .header-content h2 {
  font-family: "Allura", sans-serif;
  color: rgb(172, 113, 37);
  font-size: 4rem;
  font-weight: lighter;
  height: 60px;
}
header .header-content h1 {
  font-family: "Roboto", sans-serif;
  font-size: 4.5rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  height: 70px;
}
header .header-content img {
  width: 35px;
  height: 35px;
  margin-top: 55px;
  margin-bottom: 55px;
}
header .header-content p {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 10px;
}

main .store {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 70vh;
  min-height: 530px;
  background: rgb(240, 240, 240);
}
main .store .store-left {
  background: rgb(240, 240, 240);
  text-align: center;
  border: 1px dashed rgb(172, 113, 37);
  margin: 15px;
}
main .store .store-left h3 {
  margin-top: 35px;
  height: 40px;
}
main .store .store-left h4 {
  color: rgb(39, 38, 38);
  font-family: "Roboto", sans-serif;
}
main .store .store-left img {
  margin-top: 30px;
  height: 35px;
  width: 35px;
  margin-bottom: 30px;
}
main .store .store-left p {
  font-family: "Roboto", sans-serif;
  color: rgb(39, 38, 38);
  font-size: 1.3rem;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 10px;
  margin-bottom: 20px;
}
main .store .store-left .photo {
  height: 100px;
}
main .store .store-left .photo img {
  width: 90px;
  height: 90px;
  border-radius: 150px;
  margin: 0 auto;
}
main .store .store-left h5 {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: rgb(39, 38, 38);
  font-weight: 500;
  letter-spacing: 0.2px;
}
main .store .store-left h6 {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  font-weight: 450;
}
main .store-right {
  background: url(./Style/components/Img/store-01.jpg);
  background-position: center;
  background-size: cover;
}

.menu-container {
  position: relative;
  height: 1200px;
}
.menu-container::after {
  content: "";
  position: absolute;
  height: 820px;
  width: 100%;
  left: 0;
  background: url(./Style/components/Img/bg-menu-01.jpg);
  background-position: center;
  background-size: cover;
  bottom: -10px;
}
.menu-container h3 {
  text-align: center;
  margin-top: 70px;
}
.menu-container img {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  height: 35px;
  width: 35px;
}
.menu-container ul {
  color: rgb(240, 240, 240);
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 950px;
  margin: 0 auto;
}
.menu-container ul li {
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid rgb(240, 240, 240);
  padding-bottom: 10px;
  cursor: pointer;
  margin-bottom: 30px;
}
.menu-container ul li:hover {
  scale: 1.2;
  transition: 0.6s;
  border-bottom: 1px solid rgb(172, 113, 37);
}
.menu-container .menu {
  background-color: rgb(240, 240, 240);
  color: rgb(39, 38, 38);
  border-top: 5px solid rgb(172, 113, 37);
  max-width: 950px;
  min-width: 895px;
  margin: 0 auto;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
.menu-container .menu .plate-container {
  display: grid;
  grid-template-columns: 28% 60% 12%;
  margin: 20px;
  padding: 20px 0 40px 0;
  border-bottom: 1px dashed rgb(172, 113, 37);
}
.menu-container .menu .plate-container .img-plate img {
  margin: 0;
  min-width: 100px;
  min-height: 100px;
  border-radius: 150px;
}
.menu-container .menu .plate-container .plate-description h4 {
  font-size: 1rem;
  font-weight: 450;
  color: rgb(39, 38, 38);
  margin-top: 30px;
}
.menu-container .menu .plate-container .plate-description p {
  font-size: 1.2rem;
  font-weight: 300;
  color: rgb(39, 38, 38);
}
.menu-container .menu .plate-container .plate-price p {
  font-family: "Roboto", sans-serif;
  color: rgb(172, 113, 37);
  font-size: 1.5rem;
  margin-top: 30px;
  text-align: right;
}

.reservation-container {
  width: 1340px;
  display: grid;
  grid-template-columns: 30% 70%;
  margin: 0 auto;
  margin-top: 60px;
}
.reservation-container .openner {
  background: black;
  text-align: center;
  padding: 30px;
}
.reservation-container .openner .border {
  border: 1px dashed rgb(240, 240, 240);
  padding: 20px;
  min-width: 300px;
}
.reservation-container .openner .border h3 {
  height: 40px;
  font-size: 2.5rem;
}
.reservation-container .openner .border img {
  margin: 40px 0 40px 0;
  width: 40px;
  height: 40px;
}
.reservation-container .openner .border h5 {
  font-family: "Roboto", sans-serif;
  color: rgb(172, 113, 37);
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 450;
  letter-spacing: 0.9px;
}
.reservation-container .openner .border p {
  font-weight: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 350;
  letter-spacing: 0.4px;
}
.reservation-container .openner .border h6 {
  font-family: "Roboto", sans-serif;
  color: rgb(172, 113, 37);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 450;
  letter-spacing: 1.2px;
  margin-bottom: 20px;
}
.reservation-container .informations {
  background: rgb(240, 240, 240);
  text-align: center;
}
.reservation-container .informations h3 {
  height: 45px;
  font-size: 3rem;
  margin-top: 80px;
}
.reservation-container .informations h4 {
  color: rgb(39, 38, 38);
  text-transform: uppercase;
  font-size: 2.4rem;
}
.reservation-container .informations img {
  margin-top: 40px;
  margin-bottom: 40px;
}
.reservation-container .informations form {
  max-width: 750px;
  margin: 0 auto;
}
.reservation-container .informations form .formulary .top-formulary {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reservation-container .informations form .formulary .top-formulary #number {
  width: 220px;
  height: 45px;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.reservation-container .informations form .formulary .top-formulary #date {
  width: 220px;
  height: 45px;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.reservation-container .informations form .formulary .top-formulary #time {
  width: 220px;
  height: 45px;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.reservation-container .informations form .formulary .bottom-formulary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}
.reservation-container .informations form .formulary .bottom-formulary #name {
  width: 220px;
  height: 45px;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  color: rgb(180, 180, 180);
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.reservation-container .informations form .formulary .bottom-formulary #name:focus {
  font-family: "Roboto", sans-serif;
  color: rgb(172, 113, 37);
}
.reservation-container .informations form .formulary .bottom-formulary #phone {
  width: 220px;
  height: 45px;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  color: rgb(180, 180, 180);
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.reservation-container .informations form .formulary .bottom-formulary #phone:focus {
  font-family: "Roboto", sans-serif;
  color: rgb(172, 113, 37);
}
.reservation-container .informations form .formulary .bottom-formulary #email {
  width: 220px;
  height: 45px;
  background: none;
  border: 0px;
  border-bottom: 1px solid rgb(180, 180, 180);
  font-family: "Roboto", sans-serif;
  color: rgb(180, 180, 180);
  font-size: 1rem;
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}
.reservation-container .informations form .formulary .bottom-formulary #email:focus {
  font-family: "Roboto", sans-serif;
  color: rgb(172, 113, 37);
}
.reservation-container .informations form .submit #submit {
  background: rgb(39, 38, 38);
  color: rgb(240, 240, 240);
  padding: 20px 60px 20px 60px;
  border: none;
  border-radius: 150px;
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  cursor: pointer;
}
.reservation-container .informations form .submit #submit:hover {
  color: rgb(172, 113, 37);
  scale: 1.1;
  transition: 0.8s;
}/*# sourceMappingURL=style.css.map */