@font-face {
    font-family: "Allura";
    src: url(../Font/Allura/Allura-Regular.ttf);
  }

@font-face {
    font-family: "Roboto";
    src: url(../Font/Roboto/static/Roboto-Light.ttf);
  }

@font-face {
    font-family: "Poppins";
    src: url(../Font/Poppins-Medium/poppins/Poppins-Medium.ttf);
  }

$color1 : rgb(158, 105, 35);
$color2 : rgb(180, 180, 180);
$colorwhite: rgb(240, 240, 240);
$colorblack: rgb(39, 38, 38);


@mixin childcenter {
    display:flex;
    justify-content: center;
    align-items: center;
}

@mixin alignchildren($space) {
    display: flex;
    align-items: center;
    justify-content: $space;
}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {

    background: rgb(39, 38, 38);

    li {
        list-style: none;
    }

    h3{
        font-family: "Allura", sans-serif;
        color: $color1;
        font-size:2.5rem;
        font-weight:lighter;
    }

    h4 {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        color: $colorwhite;
        font-size:1.5rem;
        letter-spacing: 1px;
    }

    p{
        font-family: "Roboto", sans-serif;
        color: $colorwhite;
    }
}