footer {
    background-image: url(./Style/components/Img/bg-footer.jpg);
    background-position: center;
    background-size: cover;

    .footer-container {
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1400px;
        margin: 0 auto;

        .footer-left {
            padding: 90px 40px 90px 40px;
            h3 {
                font-size: 3.2rem;
            }

            p {
                font-family: "Roboto", sans-serif;
                color: $color2;
                font-weight:300;
                font-size: 1.3rem;
                line-height: 40px;
            }
        }

        .footer-right {
            padding: 90px 40px 90px 80px;

            .newsletter {
                h4 {
                    font-family: "Roboto", sans-serif;
                    font-weight: 450;
                    font-size: 1.3rem;
                    padding-bottom: 20px;
                }

                input {
                    background: none;
                    padding: 10px;
                    font-size: 1.2rem;
                    border: 1px solid rgba(128, 128, 128, 0.164);
                    color: $color2;
                    width: 350px;
                    margin-bottom: 60px;
                }
            }

        }
    }
    
}