.critical-container {
    height: 870px;
    padding: 100px 0 70px 0;
    position:relative;

    @media screen and (max-width:850px){
        height: 950px;
    }

    @media screen and (max-width:760px){
        height: 1050px;
    }

    &::after{
        content: "";
        position: absolute;
        min-height: 480px;
        width: 100%;
        left:0;
        background: url(./Style/components/Img/gmap.jpg);
        background-position:center;
        background-size: cover;
        z-index: -2;
        bottom: 0px;

        @media screen and (max-width:962px){
            bottom: -50px;
        }

        @media screen and (max-width:850px){
            bottom: -100px;
            min-height: 550px;
        }

        @media screen and (max-width:760px){
            bottom: -150px;
            min-height: 650px;
        }

        @media screen and (max-width:680px){
            bottom: -200px;
        }

        @media screen and (max-width:540px){
            bottom: -300px;
            height: 750px;
        }
    }

    .critical-content {
        max-width: 1280px;
        width: 90%;
        background-color: $colorwhite;
        position: relative;
        margin: 0 auto;
    

        p{
            font-family:"Roboto",sans-serif;
            color: $colorblack;
            font-size: 1.3rem;
            font-weight: 300;
            letter-spacing: 0.5px;
            text-align: center;
            padding: 90px 90px 40px 90px;
            line-height: 40px;
            background-color: $colorwhite;
        }

        h3 {
            font-family:"Roboto",sans-serif;
            color: $colorblack;
            font-size: 1.8rem;
            font-weight: 350;
            letter-spacing: 0.7px;
            text-align: center;
            background-color: $colorwhite;
        }

        h4 {
            font-family:"Roboto",sans-serif;
            color: $color1;
            font-size: 1.3rem;
            font-weight: 350;
            letter-spacing: 0.5px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 90px;
            background-color: $colorwhite;
        }
    }    

    &::before {
        content:"";
        position: absolute;
        background-image: url(./Style/components/Img/avatar-02.jpg);
        background-position: center;
        background-size: cover;
        height: 80px;
        width: 80px;
        left: 50%;
        top: 55px;
        transform: translateX(-50%);
        z-index: 1;
        border-radius: 150px;
    }

}