.reservation-container {
    max-width: 1340px;
    display: grid;
    grid-template-columns: 30% 70%;
    margin: 0 auto;
    margin-top: 150px;

    @media screen and (max-width:1179px) {
        display: block;
    }

    .openner {
        background: black;
        text-align: center;
        padding: 30px;
        
        .border {
            border: 1px dashed $colorwhite;
            padding: 20px;
            min-width: 300px;

            h3{
                height: 40px;
                font-size: 2.5rem;
            }

            img {
                margin: 40px 0 40px 0;
                width: 40px;
                height: 40px;
            }
            
            h5{
                font-family: "Roboto", sans-serif;
                color: $color1;
                text-transform: uppercase;
                font-size: 1.3rem;
                font-weight: 450;
                letter-spacing: 0.9px;
            }

            p {
                font-weight: "Roboto", sans-serif;
                margin-top: 20px;
                margin-bottom: 40px;
                font-weight: 350;
                letter-spacing: 0.4px;
            }

            h6{
                font-family: "Roboto", sans-serif;
                color: $color1;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 450;
                letter-spacing: 1.2px;
                margin-bottom: 20px;
            }
        }     
    }

    .informations {
        background: $colorwhite;
        text-align: center;
        min-height: 590px;

        h3 {
            font-size: 3rem;
            padding-top: 80px;
            line-height: 30px;
        }

        h4 {
            color: $colorblack;
            text-transform: uppercase;
            font-size: 2.4rem;
        }

        img{
            margin-top: 40px;
            margin-bottom: 40px;
        }

        form {
            max-width: 750px; 
            margin: 0 auto;

            .formulary {
                .top-formulary {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    #number {
                        width: 220px;
                        height: 45px;
                        background: none;
                        border: 0px;
                        border-bottom: 1px solid $color2;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        letter-spacing: 0.3px;
                        margin-bottom: 20px;
                    }

                    #date {
                        width: 220px;
                        height: 45px;
                        background: none;
                        border: 0px;
                        border-bottom: 1px solid $color2;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        letter-spacing: 0.3px;
                        margin-bottom: 20px;
                    }

                    #time {
                        width: 220px;
                        height: 45px;
                        background: none;
                        border: 0px;
                        border-bottom: 1px solid $color2;
                        font-family: "Roboto", sans-serif;
                        font-size: 1rem;
                        letter-spacing: 0.3px;
                        margin-bottom: 20px;
                    }

                    @media screen and (max-width:881px){
                        display: block;
                    }
                }

                .bottom-formulary {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 30px;

                    #name {
                        width: 220px;
                        height: 45px;
                        background: none;
                        border: 0px;
                        border-bottom: 1px solid $color2;
                        font-family: "Roboto", sans-serif;
                        color: $color2;
                        font-size: 1rem;
                        letter-spacing: 0.3px;
                        margin-bottom: 20px;

                        &:focus {
                            font-family: "Roboto", sans-serif;
                            color:$color1;
                        }
                    }

                    #phone {
                        width: 220px;
                        height: 45px;
                        background: none;
                        border: 0px;
                        border-bottom: 1px solid $color2;
                        font-family: "Roboto", sans-serif;
                        color: $color2;
                        font-size: 1rem;
                        letter-spacing: 0.3px;
                        margin-bottom: 20px;

                        &:focus {
                            font-family: "Roboto", sans-serif;
                            color:$color1;
                        }
                    }

                    #email {
                        width: 220px;
                        height: 45px;
                        background: none;
                        border: 0px;
                        border-bottom: 1px solid $color2;
                        font-family: "Roboto", sans-serif;
                        color: $color2;
                        font-size: 1rem;
                        letter-spacing: 0.3px;
                        margin-bottom: 20px;

                        &:focus {
                            font-family: "Roboto", sans-serif;
                            color:$color1;
                        }
                    }
                }   
            }

            .submit {
                    #submit{
                    background: $colorblack;
                    color: $colorwhite;
                    padding: 20px 60px 20px 60px;
                    border: none;
                    border-radius: 150px;
                    font-family: "Roboto", sans-serif;
                    font-size:1.1rem;
                    letter-spacing: 0.8px;
                    cursor: pointer;

                    &:hover {
                        color: $color1;
                        scale: 1.1;
                        transition: 0.8s;
                    }
                }
            }

        }

    
    }
        
}

